<div class="card mb-3 container" style="margin-top: 50px;">
 <div class="row">
  <h3 class="card-header">{{profile.username}}</h3>
  <div class="card-body">
    <h5 class="card-title">{{profile.role}}</h5>
    <h6 class="card-subtitle text-muted">Email: {{profile.email}}</h6>
    <h6 class="card-subtitle text-muted" style="margin-top: 5px;">Money: {{profile.card}}</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="{{profile.image}}" alt="Card image">
  </div>
</div>